# Python cache
__pycache__/
*.pyc

# Virtual env
.venv/

# IDE
.idea/

# Streamlit
.streamlit/

# Block data files
*.csv
*.xlsx

# Allow ONLY required Excel output
!PaceSmart_ML_vs_Excel_Output.xlsx

# Block ML artifacts
*.pkl
